.todoList {
  list-style: none;
  padding-top: 20px;
}
.todoItem {
  padding: 5px 10px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 5px;
  transition: all 0.2s;
}
.todoItem:hover {
  color: red;
  border-color: red;
  background: rgb(135, 167, 135);
}
.todoItem.check {
  color: green;
  border-color: green;
}
.todoItem.check:hover {
  color: rgb(140, 230, 140);
  border-color: rgb(48, 82, 48);
}
.controls {
  display: flex;
  flex-wrap: nowrap;
}
.controls span {
  margin-left: 10px;
}
.form {
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}
input {
  width: 90%;
  padding: 10px;
}
button {
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
input,
button {
  border-radius: 5px;
}